node_modules/
package-lock.json
.idea/
yarn.lock
credentials/
.env
.vs/*
bin/*
*.njsproj
*.sln
obj/*
logs/*
yarn-error.log
cache/*
public/images/*
public/uploads/*
ssl/
uploads/*
assets/templates/*
!assets/templates/_blank.docx
!assets/templates/_blank.docx.png
!assets/templates/_blank.pptx
!assets/templates/_blank.pptx.png
!assets/templates/_blank.xlsx
!assets/templates/_blank.xlsx.png
temp/hardFlush
